# Amazon credentials
AMAZON_USERNAME=your@email.com
AMAZON_PASSWORD=your_password
AMAZON_OTP_SECRET_KEY=YOURBASE32SECRET

# Monarch Money credentials
MONARCH_EMAIL=your@email.com
MONARCH_PASSWORD=your_password
MONARCH_MFA_SECRET_KEY=YOURBASE32SECRET
