interactions:
- request:
    body:
      password: FILTERED
      supports_mfa: true
      totp: '994113'
      trusted_device: false
      username: FILTERED
    headers:
      Client-Platform:
      - web
      Content-Type:
      - application/json
    method: POST
    uri: https://api.monarch.com/auth/login/
  response:
    body:
      string: '{"token": "FILTERED", "tokenExpiration": "FILTERED", "id": "FILTERED",
        "email": "FILTERED", "name": "FILTERED", "display_name": "FILTERED", "birthday":
        null, "household_role": "OWNER", "timezone": "America/Los_Angeles", "created_at":
        "2024-07-14T11:13:03.317680-07:00", "is_demo": false, "is_temporary_demo":
        false, "is_sponsor": false, "should_force_redirect_sponsor": false, "has_completed_onboarding":
        true, "household": {"id": "FILTERED", "external_id": "FILTERED", "name": "FILTERED",
        "address": "FILTERED", "city": "FILTERED", "state": "FILTERED", "zip_code":
        "FILTERED"}, "other_info": {}, "split_attributes": {"email": "FILTERED", "is_demo":
        false, "created_at_unix": 1720980783, "household_created_at_unix": 1720980782,
        "user_external_id": "FILTERED", "household_country": "US", "ai_assistant_enabled":
        true, "anonymous_id": "FILTERED"}, "external_id": "FILTERED"}'
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
      http_x_request_id:
      - c6305fe3b1c1429982fad51a3e4610d0
    status:
      code: 200
      message: OK
- request:
    body:
      operationName: GetTransactionsList
      query: "query GetTransactionsList($offset: Int, $limit: Int, $filters: TransactionFilterInput,
        $orderBy: TransactionOrdering) {\n  allTransactions(filters: $filters) {\n
        \   totalCount\n    results(offset: $offset, limit: $limit, orderBy: $orderBy)
        {\n      id\n      ...TransactionOverviewFields\n      __typename\n    }\n
        \   __typename\n  }\n  transactionRules {\n    id\n    __typename\n  }\n}\n\nfragment
        TransactionOverviewFields on Transaction {\n  id\n  amount\n  pending\n  date\n
        \ hideFromReports\n  plaidName\n  notes\n  isRecurring\n  reviewStatus\n  needsReview\n
        \ attachments {\n    id\n    extension\n    filename\n    originalAssetUrl\n
        \   publicId\n    sizeBytes\n    __typename\n  }\n  isSplitTransaction\n  createdAt\n
        \ updatedAt\n  category {\n    id\n    name\n    __typename\n  }\n  merchant
        {\n    name\n    id\n    transactionsCount\n    __typename\n  }\n  account
        {\n    id\n    displayName\n    __typename\n  }\n  tags {\n    id\n    name\n
        \   color\n    order\n    __typename\n  }\n  __typename\n}"
      variables:
        filters:
          accounts: []
          categories: []
          endDate: '2024-01-31'
          search: Amazon
          startDate: '2024-01-01'
          tags: []
        limit: 10
        offset: 0
        orderBy: date
    headers:
      Client-Platform:
      - web
      Content-Type:
      - application/json
      authorization:
      - FILTERED
    method: POST
    uri: https://api.monarch.com/graphql
  response:
    body:
      string: '{"data": {"allTransactions": {"totalCount": 22, "results": [{"id":
        "FILTERED", "amount": 0, "pending": false, "date": "2024-01-31", "hideFromReports":
        false, "plaidName": "FILTERED", "notes": "FILTERED", "isRecurring": false,
        "reviewStatus": null, "needsReview": false, "attachments": [], "isSplitTransaction":
        false, "createdAt": "2024-07-14T18:24:43.434188+00:00", "updatedAt": "2025-02-19T00:50:45.057590+00:00",
        "category": {"id": "FILTERED", "name": "FILTERED", "__typename": "Category"},
        "merchant": {"name": "FILTERED", "id": "FILTERED", "transactionsCount": 1910,
        "__typename": "Merchant"}, "account": {"id": "FILTERED", "displayName": "FILTERED",
        "__typename": "Account"}, "tags": [], "__typename": "Transaction"}, {"id":
        "FILTERED", "amount": 0, "pending": false, "date": "2024-01-31", "hideFromReports":
        false, "plaidName": "FILTERED", "notes": "FILTERED", "isRecurring": false,
        "reviewStatus": null, "needsReview": false, "attachments": [], "isSplitTransaction":
        false, "createdAt": "2024-07-14T18:24:43.434067+00:00", "updatedAt": "2025-02-19T00:50:44.386720+00:00",
        "category": {"i[...]
